<a href="https://colab.research.google.com/github/jegazhu/python-projects/blob/main/PySpark_SQL_Example_Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
import os
for dirname, _, filenames in os.walk('/content/sample_data/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/sample_data/input/test.csv
/content/sample_data/input/gender_submission.csv
/content/sample_data/input/train.csv

In [6]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 63.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=544d18aafb2d4d44ca38abe602b1fc530e5bc8c34866d8cef54e675e678f2da9
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [7]:
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.8/dist-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.8/dist-packages (from pyarrow) (1.21.6)

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('tutorial').getOrCreate()

In [9]:
df_train = spark.read.csv('/content/sample_data/input/train.csv', header = True, inferSchema=True)
df_test = spark.read.csv('/content/sample_data/input/test.csv', header = True, inferSchema=True)

In [10]:
massive_train = df_train.alias("massive_train")

In [11]:
type(df_train)

pyspark.sql.dataframe.DataFrame

In [12]:
df_train.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [13]:
df_train.toPandas()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"""Johnston, Miss. Catherine Helen """"Carrie""""""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [14]:
result = df_train.describe().toPandas()

In [15]:
result

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,891,891,891,891,891,714,891,891,891,891,204,889
1,mean,446.0,0.3838383838383838,2.308641975308642,None,None,29.69911764705882,0.5230078563411896,0.38159371492704824,260318.54916792738,32.2042079685746,None,None
2,stddev,257.3538420152301,0.48659245426485753,0.8360712409770491,None,None,14.526497332334035,1.1027434322934315,0.8060572211299488,471609.26868834975,49.69342859718089,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,0.42,0,0,110152,0.0,A10,C
4,max,891,1,3,"van Melkebeke, Mr. Philemon",male,80.0,8,6,WE/P 5735,512.3292,T,S

In [16]:
df_train.count()

891

In [17]:
print(f"Before: {type(result)}")
spark_temp = spark.createDataFrame(result)
print(f"After: {type(spark_temp)}")

Before: <class 'pandas.core.frame.DataFrame'>
After: <class 'pyspark.sql.dataframe.DataFrame'>

In [18]:
df_train.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [19]:
df_train.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [117]:
df_train.createOrReplaceTempView("mytmptable")
result = spark.sql("select * from mytmptable order by fare desc")
##result.toPandas()
result.show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|          Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|        738|       1|     1|Lesurer, Mr. Gust...|  male|35.0|    0|    0|PC 17755|512.3292|           B101|       C|
|        680|       1|     1|Cardeza, Mr. Thom...|  male|36.0|    0|    1|PC 17755|512.3292|    B51 B53 B55|       C|
|        259|       1|     1|    Ward, Miss. Anna|female|35.0|    0|    0|PC 17755|512.3292|           null|       C|
|        342|       1|     1|Fortune, Miss. Al...|female|24.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|   19950|   263.0|    C23 C25 C27|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|        743|       1|     1|"Ryerson, Miss. S...|female|21.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        312|       1|     1|Ryerson, Miss. Em...|female|18.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|        B58 B60|       C|
|        300|       1|     1|Baxter, Mrs. Jame...|female|50.0|    0|    1|PC 17558|247.5208|        B58 B60|       C|
|        558|       0|     1| Robbins, Mr. Victor|  male|null|    0|    0|PC 17757| 227.525|           null|       C|
|        701|       1|     1|Astor, Mrs. John ...|female|18.0|    1|    0|PC 17757| 227.525|        C62 C64|       C|
|        717|       1|     1|Endres, Miss. Car...|female|38.0|    0|    0|PC 17757| 227.525|            C45|       C|
|        381|       1|     1|Bidois, Miss. Ros...|female|42.0|    0|    0|PC 17757| 227.525|           null|       C|
|        528|       0|     1|  Farthing, Mr. John|  male|null|    0|    0|PC 17483|221.7792|            C95|       S|
|        378|       0|     1|Widener, Mr. Harr...|  male|27.0|    0|    2|  113503|   211.5|            C82|       C|
|        690|       1|     1|Madill, Miss. Geo...|female|15.0|    0|    1|   24160|211.3375|             B5|       S|
|        731|       1|     1|Allen, Miss. Elis...|female|29.0|    0|    0|   24160|211.3375|             B5|       S|
|        780|       1|     1|Robert, Mrs. Edwa...|female|43.0|    0|    1|   24160|211.3375|             B3|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
only showing top 20 rows

In [25]:
df_test.createOrReplaceTempView("df_mytest")

In [26]:
spark.catalog.listTables()

[Table(name='df_mytest', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='mytmptable', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [30]:
spark.sql("show views").show()
##spark.sql("show views").toPandas()

+---------+----------+-----------+
|namespace|  viewName|isTemporary|
+---------+----------+-----------+
|         | df_mytest|       true|
|         |mytmptable|       true|
+---------+----------+-----------+

In [32]:
tmp_table = spark.table("df_mytest")
print(type(tmp_table))
tmp_table.show(10)

<class 'pyspark.sql.dataframe.DataFrame'>
+-----------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|   330911| 7.8292| null|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|   363272|    7.0| null|       S|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|   240276| 9.6875| null|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|   315154| 8.6625| null|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|  3101298|12.2875| null|       S|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|     7538|  9.225| null|       S|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|   330972| 7.6292| null|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|   248738|   29.0| null|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|     2657| 7.2292| null|       C|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|A/4 48871|  24.15| null|       S|
+-----------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 10 rows

In [33]:
df_train.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [37]:
#df_train['Age']
#df_train.Age
type(df_train['Age'])

pyspark.sql.column.Column

In [47]:
#df_train.select('Age').show()
#df_train.select(['Age','Fare']).show()
df_train[df_train.Age, df_train.Fare].show()

+----+-------+
| Age|   Fare|
+----+-------+
|22.0|   7.25|
|38.0|71.2833|
|26.0|  7.925|
|35.0|   53.1|
|35.0|   8.05|
|null| 8.4583|
|54.0|51.8625|
| 2.0| 21.075|
|27.0|11.1333|
|14.0|30.0708|
| 4.0|   16.7|
|58.0|  26.55|
|20.0|   8.05|
|39.0| 31.275|
|14.0| 7.8542|
|55.0|   16.0|
| 2.0| 29.125|
|null|   13.0|
|31.0|   18.0|
|null|  7.225|
+----+-------+
only showing top 20 rows

In [60]:
#df_train.head(1)
#type(df_train.head(1))
row = df_train.head(1)[0]
row
type(row)
row.asDict()
row.asDict()['PassengerId']
row.asDict()['Name']

'Braund, Mr. Owen Harris'

In [63]:
#df_train.withColumnRenamed("Age","NAge").limit(5).toPandas()
df_train.withColumnRenamed("Age","NAge").limit(5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|NAge|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [67]:
df_train.withColumn('Fare',df_train['Fare']+20).limit(5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|  27.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|91.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282| 27.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   73.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|  28.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [98]:
from pyspark.sql.functions import mean
fare_mean = df_train.select(mean("Fare")).collect()
fare_mean[0][0]

32.2042079685746

In [100]:
#df_train.filter("Fare < 32.20").limit(10).show()
#df_train.filter("Fare >= 32.20").limit(10).show()
df_train[df_train.Fare < 32.20].limit(10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [96]:
tmp_df = df_train.filter((df_train['Fare'] < 32.20) & 
                         (df_train['Sex'] ==  'male'))
tmp_df.show(5)
#----------------------------------------------------------
df_train[(df_train.Fare < 32.20) & 
         (df_train.Sex == "male")].show(5)

+-----------+--------+------+--------------------+----+----+-----+-----+---------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|  7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|35.0|    0|    0|   373450|  8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|   330877|8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|male| 2.0|    3|    1|   349909|21.075| null|       S|
|         13|       0|     3|Saundercock, Mr. ...|male|20.0|    0|    0|A/5. 2151|  8.05| null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+------+-----+--------+
only showing top 5 rows

+-----------+--------+------+--------------------+----+----+-----+-----+---------+------+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|  7.25| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|35.0|    0|    0|   373450|  8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|   330877|8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|male| 2.0|    3|    1|   349909|21.075| null|       S|
|         13|       0|     3|Saundercock, Mr. ...|male|20.0|    0|    0|A/5. 2151|  8.05| null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+------+-----+--------+
only showing top 5 rows

In [97]:
filter1_less_than_mean_fare = df_train['Fare'] < 32.20
filter2_sex_not_male = df_train['Sex'] != "male"
df_train.filter((filter1_less_than_mean_fare) &
                (filter2_sex_not_male)).show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [102]:
df_train.select("PassengerId", "Fare").filter(df_train.Fare.between(20,80)).show()

+-----------+-------+
|PassengerId|   Fare|
+-----------+-------+
|          2|71.2833|
|          4|   53.1|
|          7|51.8625|
|          8| 21.075|
|         10|30.0708|
|         12|  26.55|
|         14| 31.275|
|         17| 29.125|
|         21|   26.0|
|         24|   35.5|
|         25| 21.075|
|         26|31.3875|
|         31|27.7208|
|         36|   52.0|
|         42|   21.0|
|         44|41.5792|
|         49|21.6792|
|         51|39.6875|
|         53|76.7292|
|         54|   26.0|
+-----------+-------+
only showing top 20 rows

In [104]:
df_train.select("PassengerID", df_train.Fare.between(20,80)).show()

+-----------+-------------------------------+
|PassengerID|((Fare >= 20) AND (Fare <= 80))|
+-----------+-------------------------------+
|          1|                          false|
|          2|                           true|
|          3|                          false|
|          4|                           true|
|          5|                          false|
|          6|                          false|
|          7|                           true|
|          8|                           true|
|          9|                          false|
|         10|                           true|
|         11|                          false|
|         12|                           true|
|         13|                          false|
|         14|                           true|
|         15|                          false|
|         16|                          false|
|         17|                           true|
|         18|                          false|
|         19|                          false|
|         20|                          false|
+-----------+-------------------------------+
only showing top 20 rows

In [107]:
df_train.select("PassengerId", "Name").filter(df_train.Name.contains("Mr")).show()
df_train.select("PassengerId", "Name").filter(df_train.Name.contains("Mrs")).show()

+-----------+--------------------+
|PassengerId|                Name|
+-----------+--------------------+
|          1|Braund, Mr. Owen ...|
|          2|Cumings, Mrs. Joh...|
|          4|Futrelle, Mrs. Ja...|
|          5|Allen, Mr. Willia...|
|          6|    Moran, Mr. James|
|          7|McCarthy, Mr. Tim...|
|          9|Johnson, Mrs. Osc...|
|         10|Nasser, Mrs. Nich...|
|         13|Saundercock, Mr. ...|
|         14|Andersson, Mr. An...|
|         16|Hewlett, Mrs. (Ma...|
|         18|Williams, Mr. Cha...|
|         19|Vander Planke, Mr...|
|         20|Masselmani, Mrs. ...|
|         21|Fynney, Mr. Joseph J|
|         22|Beesley, Mr. Lawr...|
|         24|Sloper, Mr. Willi...|
|         26|Asplund, Mrs. Car...|
|         27|Emir, Mr. Farred ...|
|         28|Fortune, Mr. Char...|
+-----------+--------------------+
only showing top 20 rows

+-----------+--------------------+
|PassengerId|                Name|
+-----------+--------------------+
|          2|Cumings, Mrs. Joh...|
|          4|Futrelle, Mrs. Ja...|
|          9|Johnson, Mrs. Osc...|
|         10|Nasser, Mrs. Nich...|
|         16|Hewlett, Mrs. (Ma...|
|         19|Vander Planke, Mr...|
|         20|Masselmani, Mrs. ...|
|         26|Asplund, Mrs. Car...|
|         32|Spencer, Mrs. Wil...|
|         41|Ahlin, Mrs. Johan...|
|         42|Turpin, Mrs. Will...|
|         50|Arnold-Franchi, M...|
|         53|Harper, Mrs. Henr...|
|         54|Faunthorpe, Mrs. ...|
|         67|Nye, Mrs. (Elizab...|
|         86|Backstrom, Mrs. K...|
|         99|Doling, Mrs. John...|
|        133|Robins, Mrs. Alex...|
|        134|Weisz, Mrs. Leopo...|
|        141|Boulos, Mrs. Jose...|
+-----------+--------------------+
only showing top 20 rows

In [110]:
df_train.select("PassengerID", 'Sex').filter(df_train.Sex.startswith("m")).show()
df_train.select("PassengerID", 'Sex').filter(df_train.Sex.startswith("f")).show()

+-----------+----+
|PassengerID| Sex|
+-----------+----+
|          1|male|
|          5|male|
|          6|male|
|          7|male|
|          8|male|
|         13|male|
|         14|male|
|         17|male|
|         18|male|
|         21|male|
|         22|male|
|         24|male|
|         27|male|
|         28|male|
|         30|male|
|         31|male|
|         34|male|
|         35|male|
|         36|male|
|         37|male|
+-----------+----+
only showing top 20 rows

+-----------+------+
|PassengerID|   Sex|
+-----------+------+
|          2|female|
|          3|female|
|          4|female|
|          9|female|
|         10|female|
|         11|female|
|         12|female|
|         15|female|
|         16|female|
|         19|female|
|         20|female|
|         23|female|
|         25|female|
|         26|female|
|         29|female|
|         32|female|
|         33|female|
|         39|female|
|         40|female|
|         41|female|
+-----------+------+
only showing top 20 rows

In [114]:
df_train.select("PassengerID", 'Ticket').filter(df_train.Ticket.endswith("5")).show()

+-----------+----------+
|PassengerID|    Ticket|
+-----------+----------+
|         21|    239865|
|         51|   3101295|
|         65|  PC 17605|
|         67|C.A. 29395|
|         85|SO/C 14885|
|         90|    343275|
|         94| C.A. 2315|
|        101|    349245|
|        102|    349215|
|        111|    110465|
|        112|      2665|
|        145|    231945|
|        162|C.A. 33595|
|        165|   3101295|
|        167|    113505|
|        178|  PC 17595|
|        187|    370365|
|        239|     28665|
|        240|SCO/W 1585|
|        241|      2665|
+-----------+----------+
only showing top 20 rows

In [115]:
df_train[df_train.PassengerId.isin([1,2,3])].show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [118]:
df_train[df_train.Name.like("F%")].show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+-----------+--------+
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|    113803|    53.1|       C123|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|    239865|    26.0|       null|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|     19950|   263.0|C23 C25 C27|       S|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|      2926|    26.0|       null|       S|
|         87|       0|     3|Ford, Mr. William...|  male|16.0|    1|    3|W./C. 6608|  34.375|       null|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|     19950|   263.0|C23 C25 C27|       S|
|        138|       0|     1|Futrelle, Mr. Jac...|  male|37.0|    1|    0|    113803|    53.1|       C123|       S|
|        229|       0|     2|Fahlstrom, Mr. Ar...|  male|18.0|    0|    0|    236171|    13.0|       null|       S|
|        307|       1|     1|Fleming, Miss. Ma...|female|null|    0|    0|     17421|110.8833|       null|       C|
|        310|       1|     1|Francatelli, Miss...|female|30.0|    0|    0|  PC 17485| 56.9292|        E36|       C|
|        335|       1|     1|Frauenthal, Mrs. ...|female|null|    1|    0|  PC 17611|  133.65|       null|       S|
|        342|       1|     1|Fortune, Miss. Al...|female|24.0|    3|    2|     19950|   263.0|C23 C25 C27|       S|
|        345|       0|     2|Fox, Mr. Stanley ...|  male|36.0|    0|    0|    229236|    13.0|       null|       S|
|        358|       0|     2|Funk, Miss. Annie...|female|38.0|    0|    0|    237671|    13.0|       null|       S|
|        429|       0|     3|    Flynn, Mr. James|  male|null|    0|    0|    364851|    7.75|       null|       Q|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|     19950|   263.0|C23 C25 C27|       S|
|        453|       0|     1|Foreman, Mr. Benj...|  male|30.0|    0|    0|    113051|   27.75|       C111|       C|
|        526|       0|     3|  Farrell, Mr. James|  male|40.5|    0|    0|    367232|    7.75|       null|       Q|
|        528|       0|     1|  Farthing, Mr. John|  male|null|    0|    0|  PC 17483|221.7792|        C95|       S|
|        540|       1|     1|Frolicher, Miss. ...|female|22.0|    0|    2|     13568|    49.5|        B39|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+-----------+--------+
only showing top 20 rows

In [121]:
df_train.select(df_train.Name.substr(1,5)).show()
df_train[[df_train.Name.substr(1,5)]].show()

+---------------------+
|substring(Name, 1, 5)|
+---------------------+
|                Braun|
|                Cumin|
|                Heikk|
|                Futre|
|                Allen|
|                Moran|
|                McCar|
|                Palss|
|                Johns|
|                Nasse|
|                Sands|
|                Bonne|
|                Saund|
|                Ander|
|                Vestr|
|                Hewle|
|                Rice,|
|                Willi|
|                Vande|
|                Masse|
+---------------------+
only showing top 20 rows

+---------------------+
|substring(Name, 1, 5)|
+---------------------+
|                Braun|
|                Cumin|
|                Heikk|
|                Futre|
|                Allen|
|                Moran|
|                McCar|
|                Palss|
|                Johns|
|                Nasse|
|                Sands|
|                Bonne|
|                Saund|
|                Ander|
|                Vestr|
|                Hewle|
|                Rice,|
|                Willi|
|                Vande|
|                Masse|
+---------------------+
only showing top 20 rows

In [124]:
df_train.groupBy("Pclass").mean().toPandas()
df_train.groupBy("Pclass").mean().show()

+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+
|Pclass|  avg(PassengerId)|      avg(Survived)|avg(Pclass)|          avg(Age)|         avg(SibSp)|         avg(Parch)|         avg(Fare)|
+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+
|     1|461.59722222222223| 0.6296296296296297|        1.0|38.233440860215055| 0.4166666666666667|0.35648148148148145| 84.15468749999992|
|     3| 439.1547861507128|0.24236252545824846|        3.0| 25.14061971830986|  0.615071283095723|0.39307535641547864|13.675550101832997|
|     2|445.95652173913044|0.47282608695652173|        2.0| 29.87763005780347|0.40217391304347827| 0.3804347826086957| 20.66218315217391|
+------+------------------+-------------------+-----------+------------------+-------------------+-------------------+------------------+

In [127]:
df_train.groupBy("Pclass").mean().select('Pclass', 'avg(Fare)').show() #extended way
df_train.groupBy("Pclass").mean("Fare").show() #short way

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.675550101832997|
|     2| 20.66218315217391|
+------+------------------+

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.675550101832997|
|     2| 20.66218315217391|
+------+------------------+

In [129]:
df_train.agg({'Fare':'mean'}).show()
from pyspark.sql.functions import mean
df_train.select(mean("Fare")).show()

+----------------+
|       avg(Fare)|
+----------------+
|32.2042079685746|
+----------------+

+----------------+
|       avg(Fare)|
+----------------+
|32.2042079685746|
+----------------+

In [131]:
tmp = df_train.groupBy("Pclass")
tmp.agg({"Fare": 'mean'}).show()

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.675550101832997|
|     2| 20.66218315217391|
+------+------------------+

In [132]:
from pyspark.sql.functions import format_number
tmp = df_train.groupBy("Pclass")
tmp = tmp.agg({"Fare": 'mean'})
tmp.select('Pclass', format_number("avg(Fare)", 2).alias("avg fare")).show()

+------+--------+
|Pclass|avg fare|
+------+--------+
|     1|   84.15|
|     3|   13.68|
|     2|   20.66|
+------+--------+

In [135]:
df_train.orderBy("Fare").limit(20).toPandas()
df_train.orderBy("Fare").limit(20).show()
#-----------------------------------------------
df_train.orderBy(df_train.Fare.asc()).show()

+-----------+--------+------+--------------------+----+----+-----+-----+------+------+-----------+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|Ticket|  Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+------+------+-----------+--------+
|        278|       0|     2|"Parkes, Mr. Fran...|male|null|    0|    0|239853|   0.0|       null|       S|
|        303|       0|     3|Johnson, Mr. Will...|male|19.0|    0|    0|  LINE|   0.0|       null|       S|
|        180|       0|     3| Leonard, Mr. Lionel|male|36.0|    0|    0|  LINE|   0.0|       null|       S|
|        272|       1|     3|Tornquist, Mr. Wi...|male|25.0|    0|    0|  LINE|   0.0|       null|       S|
|        264|       0|     1|Harrison, Mr. Wil...|male|40.0|    0|    0|112059|   0.0|        B94|       S|
|        482|       0|     2|"Frost, Mr. Antho...|male|null|    0|    0|239854|   0.0|       null|       S|
|        414|       0|     2|Cunningham, Mr. A...|male|null|    0|    0|239853|   0.0|       null|       S|
|        467|       0|     2|Campbell, Mr. Wil...|male|null|    0|    0|239853|   0.0|       null|       S|
|        598|       0|     3| Johnson, Mr. Alfred|male|49.0|    0|    0|  LINE|   0.0|       null|       S|
|        634|       0|     1|Parr, Mr. William...|male|null|    0|    0|112052|   0.0|       null|       S|
|        675|       0|     2|Watson, Mr. Ennis...|male|null|    0|    0|239856|   0.0|       null|       S|
|        733|       0|     2|Knight, Mr. Robert J|male|null|    0|    0|239855|   0.0|       null|       S|
|        807|       0|     1|Andrews, Mr. Thom...|male|39.0|    0|    0|112050|   0.0|        A36|       S|
|        816|       0|     1|    Fry, Mr. Richard|male|null|    0|    0|112058|   0.0|       B102|       S|
|        823|       0|     1|Reuchlin, Jonkhee...|male|38.0|    0|    0| 19972|   0.0|       null|       S|
|        379|       0|     3| Betros, Mr. Tannous|male|20.0|    0|    0|  2648|4.0125|       null|       C|
|        873|       0|     1|Carlsson, Mr. Fra...|male|33.0|    0|    0|   695|   5.0|B51 B53 B55|       S|
|        327|       0|     3|Nysveen, Mr. Joha...|male|61.0|    0|    0|345364|6.2375|       null|       S|
|        844|       0|     3|Lemberopolous, Mr...|male|34.5|    0|    0|  2683|6.4375|       null|       C|
|        819|       0|     3|Holm, Mr. John Fr...|male|43.0|    0|    0|C 7075|  6.45|       null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+------+------+-----------+--------+

+-----------+--------+------+--------------------+----+----+-----+-----+------+------+-----------+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|Ticket|  Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+------+------+-----------+--------+
|        272|       1|     3|Tornquist, Mr. Wi...|male|25.0|    0|    0|  LINE|   0.0|       null|       S|
|        180|       0|     3| Leonard, Mr. Lionel|male|36.0|    0|    0|  LINE|   0.0|       null|       S|
|        414|       0|     2|Cunningham, Mr. A...|male|null|    0|    0|239853|   0.0|       null|       S|
|        278|       0|     2|"Parkes, Mr. Fran...|male|null|    0|    0|239853|   0.0|       null|       S|
|        675|       0|     2|Watson, Mr. Ennis...|male|null|    0|    0|239856|   0.0|       null|       S|
|        733|       0|     2|Knight, Mr. Robert J|male|null|    0|    0|239855|   0.0|       null|       S|
|        807|       0|     1|Andrews, Mr. Thom...|male|39.0|    0|    0|112050|   0.0|        A36|       S|
|        816|       0|     1|    Fry, Mr. Richard|male|null|    0|    0|112058|   0.0|       B102|       S|
|        823|       0|     1|Reuchlin, Jonkhee...|male|38.0|    0|    0| 19972|   0.0|       null|       S|
|        467|       0|     2|Campbell, Mr. Wil...|male|null|    0|    0|239853|   0.0|       null|       S|
|        264|       0|     1|Harrison, Mr. Wil...|male|40.0|    0|    0|112059|   0.0|        B94|       S|
|        598|       0|     3| Johnson, Mr. Alfred|male|49.0|    0|    0|  LINE|   0.0|       null|       S|
|        303|       0|     3|Johnson, Mr. Will...|male|19.0|    0|    0|  LINE|   0.0|       null|       S|
|        634|       0|     1|Parr, Mr. William...|male|null|    0|    0|112052|   0.0|       null|       S|
|        482|       0|     2|"Frost, Mr. Antho...|male|null|    0|    0|239854|   0.0|       null|       S|
|        379|       0|     3| Betros, Mr. Tannous|male|20.0|    0|    0|  2648|4.0125|       null|       C|
|        873|       0|     1|Carlsson, Mr. Fra...|male|33.0|    0|    0|   695|   5.0|B51 B53 B55|       S|
|        327|       0|     3|Nysveen, Mr. Joha...|male|61.0|    0|    0|345364|6.2375|       null|       S|
|        844|       0|     3|Lemberopolous, Mr...|male|34.5|    0|    0|  2683|6.4375|       null|       C|
|        819|       0|     3|Holm, Mr. John Fr...|male|43.0|    0|    0|C 7075|  6.45|       null|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+------+------+-----------+--------+
only showing top 20 rows

In [137]:
df_train.orderBy(df_train.Fare.desc()).limit(10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|          Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|        680|       1|     1|Cardeza, Mr. Thom...|  male|36.0|    0|    1|PC 17755|512.3292|    B51 B53 B55|       C|
|        259|       1|     1|    Ward, Miss. Anna|female|35.0|    0|    0|PC 17755|512.3292|           null|       C|
|        738|       1|     1|Lesurer, Mr. Gust...|  male|35.0|    0|    0|PC 17755|512.3292|           B101|       C|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|        342|       1|     1|Fortune, Miss. Al...|female|24.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|   19950|   263.0|    C23 C25 C27|       S|
|        312|       1|     1|Ryerson, Miss. Em...|female|18.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        743|       1|     1|"Ryerson, Miss. S...|female|21.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|        B58 B60|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+

In [138]:
df_train.filter(df_train.Embarked.isNull()).count()

2

In [139]:
df_train.select('PassengerID','Embarked').orderBy(df_train.Embarked.asc_nulls_first()).show()

+-----------+--------+
|PassengerID|Embarked|
+-----------+--------+
|         62|    null|
|        830|    null|
|        204|       C|
|         74|       C|
|         97|       C|
|         98|       C|
|         66|       C|
|        115|       C|
|         65|       C|
|        123|       C|
|         31|       C|
|        112|       C|
|         35|       C|
|         40|       C|
|        119|       C|
|         44|       C|
|         53|       C|
|        126|       C|
|         58|       C|
|        129|       C|
+-----------+--------+
only showing top 20 rows

In [140]:
df_train.select('PassengerID','Embarked').orderBy(df_train.Embarked.asc_nulls_last()).tail(10)

[Row(PassengerID=881, Embarked='S'),
 Row(PassengerID=882, Embarked='S'),
 Row(PassengerID=883, Embarked='S'),
 Row(PassengerID=884, Embarked='S'),
 Row(PassengerID=885, Embarked='S'),
 Row(PassengerID=887, Embarked='S'),
 Row(PassengerID=888, Embarked='S'),
 Row(PassengerID=889, Embarked='S'),
 Row(PassengerID=62, Embarked=None),
 Row(PassengerID=830, Embarked=None)]

In [143]:
df_train.na.drop(how="any").limit(10).toPandas()
df_train.na.drop(how="any").limit(10).show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|  113803|   53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|   17463|51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1| PP 9549|   16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|  113783|  26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|  248698|   13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|  113788|   35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|   19950|  263.0|C23 C25 C27|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|PC 17572|76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|  113509|61.9792|        B30|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----------+--------+